<style>
h1 {
  text-align: center;
}
</style>

<h1>New Article</h1>

<div style="width:11%; margin:0 auto;">
<%= render "form", article: @article %>
<button onclick="history.back()"><<</button>
<button onclick="history.forward()">>></button>
</div>